[submodule "bundle/histwin"]
	path = bundle/histwin
	url = http://github.com/chrisbra/histwin.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = http://github.com/MasterKey/OmniCppComplete.git
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/sahchandler/vim-scala.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = git@github.com:MasseR/vimerl.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/javanthropus/vim-matchit.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:MasseR/snipmate.vim.git
