[submodule "bundle/histwin"]
	path = bundle/histwin
	url = http://github.com/chrisbra/histwin.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = http://github.com/MasterKey/OmniCppComplete.git
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/sahchandler/vim-scala.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/javanthropus/vim-matchit.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "bundle/VimDebugger"]
	path = bundle/VimDebugger
	url = https://github.com/taxilian/VimDebugger.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/zklinger/dbext.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/gettext"]
	path = bundle/gettext
	url = https://github.com/vim-scripts/po.vim--gray.git
[submodule "bundle/html-template-syntax"]
	path = bundle/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "bundle/Vimchant"]
	path = bundle/Vimchant
	url = https://github.com/vim-scripts/Vimchant.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/avelino/snipmate.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = https://github.com/vim-scripts/localrc.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
